*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #e05ba8;
    background-image: linear-gradient(225deg, #e05ba8 0%, #875fab 50%, #29597b 100%);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color:white;
margin: 100px auto 20px;
border-radius: 20px;
padding: 40px 30px 70px;
margin-top: 80px;


}
.todo-app h2 img{
    width:60px;
    height: 50px;
    margin-left: 20px;
}
.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 25px;
}
 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 29px;
    /* border-radius: 20px; */
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    border-radius: 40px;
    color: #fff594;;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}
ul li::before{
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-image: url(unchecked.png);
     background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px; 
    
} 
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(checked.png);
}
 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
} 
ul li span:hover{
    background: #edeef0;
} 
